@charset "UTF-8";

body{
    background-color: rgba(8, 114, 79, 0.692);
    font-family: Arial, Helvetica, sans-serif;
    font: normal 15pt arial
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

div{
    text-align: center;
    padding: 8px;
}


footer{
    text-align: center;
    color: white;
    font-style: italic;
}

/*
cores: 

img1 = #E57753
img2 = #FE711A
img3 = #B67FA6
*/