@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;

}

body, html{
    width: 100vw;
    height: 100vh;
    
}

body{
    background-color: rgba(145, 92, 22, 0.705);
}

header{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    padding: 30px
}

main > section {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}

div > p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    padding: 20px;
}
div#img{
    width: 300PX;
    height: 300px;
    border-radius: 50%;
    background-image: url(../imagens/pexels-sebastian-189349.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
section.contem{
    position: relative;;
}

div.item{
    position: absolute;
    left: 50px;
    top: 75px;
    transform: translate(15%);
}

footer{
    text-align: center;
    margin: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;

}
