@charset "UTF-8";

body {
    background-color: rgba(54, 124, 101, 0.774);
    font: Normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
}
footer {
    color: white;
    text-align: center;
}